//color theme for the website
$color-first: #f2cc8f;
$color-second: #81b29a;
$color-third: #3d405b;
$color-fourth: #e07a5f;
$color-fifth: #f4f1de;

.navbar-color {
  background-color: $color-third;
  padding: 1px 0 ;
  ;
}
.nav-link{
  color: $color-fifth;
}
.logo {
  height: 60px;
  width: 60px;
}
