<div class="container my-3">
  <div class="row">
    <% @bookings.each do |booking| %>
      <% course = booking.course %>
      <div class="col-4 mb-3">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz2TaeZnV3ZJBe7PIQfgi8AeLz80CtGbprvw&s" width="100px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= booking.course.title %></h5>
            <p class="card-text"><%= booking.course.description %></p>
            <div class="d-flex">
              <a href=<%= course_path(course) %> class="btn btn-primary me-auto">View Course</a>
              <%= link_to "Delete", booking_path(booking), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
