
<div class="landing-content">
  <div class="teacher">
    <%= image_tag "teacher.png", class: "teacher-pic"%>
    <div class="topic">
      <h2>FOR INSTRUCTORS</h2>
    </div>
    <div class="button">
      <button type="button" class="custom-btn teacher-btn">Start a class today!</button>
    </div>
  </div>
  <div class="student">
    <%= image_tag "student.png", class: "student-pic" %>
    <div class="topic">
      <h2>FOR STUDENTS</h2>
    </div>
    <div class="button">
      <button type="button" class="custom-btn student-btn">Take a class today!</button>
    </div>
  </div>
</div>
