<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <p>(We can change this navbar later if needed)</p>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="main m-4">
  <h1>Courses</h1>
  <p>Find all the superpower courses here.</p>
</div>
<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm p-3">
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> <%= course.title %> </h5>
            <p class="card-text"> <%= course.description %> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </diV>
</div>
