.course-index-fixed-card {
  width: 100%;
  height: 370px; /* set fixed height */
  border: 10px solid #2f3e46; /* White outline */
  border-radius: 5%;
  display: flex; /* use flex to adjust content */
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* avoid content overflow */
  background-color: #218380;
}
.course-index-card-title {
  margin-bottom: 0;
  font-size: 1.3rem;
  box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: white;
  white-space: nowrap; /* prevent words from changing lines */
  overflow: hidden; /* avoid content overflow */
  text-overflow: ellipsis;
}
.course-index-card-level {
  text-align: right;
  color: white;
}

.course-index-card-photo {
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  height: 50%;
  width: 100%;
}

.course-index-card-img {
  height: 100%; /* 圖片高度與父容器對齊 */
  width: 100%; /* 圖片寬度與父容器對齊 */
  object-fit: cover; /* 等比例填滿，裁剪超出的部分 */
  display: block; /* 移除潛在的空隙 */
}

.course-index-card-body {
  background-color: #a4c3b2;
  border-radius: 5%;
  margin-top:5%;
  height: 30%;
  padding: 2%;
  overflow: hidden;
  position: relative;
}
.course-index-card-teacher {
  font-size: 15px;
  margin-bottom: 0;
  color: black;
}

.course-index-card-text {
  font-size: 1.5rem;
  font-weight: bold;
}

// buttons
.course-index-card-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute ;
  right: 5%;
  bottom: 5%;
}

.course-index-btn {
  width: 20%;
  height: 5%;
  background-color: #218380; /* Transparent background */
  color: white;
  border-radius: 10%;
  margin-right: 5%;
}
.course-index-btn a {
  display: inline-block;
  background-color: #218380; /* 按鈕主色 (藍色) */
  color: #fff; /* 白色文字 */
  text-decoration: none;
  padding: 4px 8px; /* 調整按鈕大小 */
  font-size: 1rem; /* 調整字體大小 */
  border-radius: 10px; /* 圓角 */
  transition: background-color 0.3s ease; /* 平滑過渡效果 */
}

.course-index-heart {
  font-size: 30px; /* 圖標大小 */
  color: #218380; /* 預設灰色 */
  transition: color 0.3s ease; /* 平滑過渡效果 */
}
// .course-index-btn:hover {
//   border: 2px solid $color-fourth; /* White outline */
//   background-color: transparent; /* Transparent background */
//   color: $color-fourth; /* White text color */
//   font-weight: bold;
// }
// .course-index-heart-wrapping {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .course-index-comment {
//   margin-right: 100px;
//   font-size: 1.8rem; /* 調整愛心大小 */
//   color: gray; /* 初始顏色 */
//   cursor: pointer;
// }
